In [30]:
print("Hello world") # python is case sensitive.
                    # p-should be small letter. and we can use single or double inverted commas, whatever we have to write in the text format means it is string data type we have to keep it in inverted commas and for numbers no need.

Hello world

In [31]:
print(10000000) # for numaricals no need of inverted commas.
                # shift + enter = run.

10000000

In [32]:
print("hello buddoda")

hello buddoda

In [33]:
# type 'a' in the brackets beside the IN we can include a cell above and type 'b' for inserting cell bellow and 
# type 'dd' / 'x' for deleting the entire row/cell.

# jyfkukugffvbbhuj

In [34]:
# for getting heding, type the word with hashtag and type the letter 'm' in the brackets then it will converted to blue then shift + enter to run then we can get hedding.
# increasing the hashtag's font will decrease the size and after 6th hashtag font will change and in the out put we can see hash tag too. so only 6 hasthags are allowd.

# Data Types

In [35]:
x=10
type(x) # int = integer with out decemals.

int

In [36]:
y=10.23
type(y) #float = decimal number.

float

In [37]:
course = "data analytics"
type(course) #str = string.

str

In [38]:
y=True
type(y) #bool = boolien

bool

In [39]:
z="true"
type(z) # we put word ture in inverted commas so its string.

str

In [40]:
m=2-3j
type(m) #we have to use j for representing complex number.

complex

 ### rules for naming the varables

In [41]:
Sample_names = "varshith" , "mahindra" , "chaithu"
Sample_names

('varshith', 'mahindra', 'chaithu')

In [42]:
### variable name can start with A-Z and a-z , underscore.
### only allowed special character is _ .
### variable name canot start with a number.
### varibale name should not have space.
### case sensitive.

## Data Structures

In [43]:
x = ("apple" , "banana" , "orange")
type(x) #curved brackets it's tuple type.

tuple

In [44]:
x = ["apple" , "banana" , "orange"]
type(x) #square brackets it's list type.

list

In [45]:
x = {"apple" , "banana" , "orange"}
type(x) #curly brackets then it's set type.

set

In [46]:
x = {"name" : "varshith" , "age" : 20}
type(x) #curly brackets with collen then it's a dictionary

dict

# List

#### 1. allows heterogenous.
#### 2. index start from 0.
#### 3. mutable using index. (we can make the changes using index)
#### 4. we can reverse the sequence by giving ".reverse command".
#### 5. we can sort the list type.

In [47]:
sample_example=[32,23,65,"name",1+9j,11.25]
sample_example #so list is hetrogenous because it is allowing many nuber of data types.

[32, 23, 65, 'name', (1+9j), 11.25]

In [48]:
type(sample_example)

list

In [49]:
sample_example[0]

32

In [50]:

sample_example[1] = 45
sample_example

[32, 45, 65, 'name', (1+9j), 11.25]

In [51]:
sample_example.reverse()
sample_example

[11.25, (1+9j), 'name', 65, 45, 32]

## tuple
#### 1. allows heterogenous.
#### 2. index starts from 0 and retrive using index.
#### 3. can't change the data once Assigned, so immutable.
#### 4. can't reverse the patteren.

In [52]:
sample_tuple=(32,23,25,"hello",6+8j,66.9)
sample_tuple

(32, 23, 25, 'hello', (6+8j), 66.9)

In [53]:
type(sample_tuple)

tuple

In [54]:
sample_tuple[1]

23

In [55]:
sample_tuple[4]

(6+8j)

In [56]:
sample_tuple[8] # we'll get error

IndexError: ignored

In [57]:
sample_tuple[3] = 12
sample_tuple

TypeError: ignored

In [58]:
sample_tuple.reverse()
sample_tuple #here we can't reverse the sequence. so, we'll get errors.

AttributeError: ignored

# Set
#### 1. add heterogenous.
#### 2. doesnot allow dupilicates. (no repeted elements)
#### 3. can't access using index.
#### 4. immutable using index but we can add or remove a element.
#### 5. ordered first place. prefarence from first place and follows the dictionary order. 
#### 6. we can sort the set data by converting it to list.

In [59]:
sample_set = {1,2,3,55,62,12,49,68,9563,2159,32156,55,3,2,4,8,9,159632,'a', 'a','b', 'abc', 'dog','zip',9,8,2}
sample_set

{1,
 12,
 159632,
 2,
 2159,
 3,
 32156,
 4,
 49,
 55,
 62,
 68,
 8,
 9,
 9563,
 'a',
 'abc',
 'b',
 'dog',
 'zip'}

In [60]:
type(sample_set)

set

In [61]:
sample_set[1] #we'll get error

TypeError: ignored

In [63]:
sample_set[1] = 122
sample_set #we'll get error

TypeError: ignored

In [62]:
sample_set.remove('a')
sample_set

{1,
 12,
 159632,
 2,
 2159,
 3,
 32156,
 4,
 49,
 55,
 62,
 68,
 8,
 9,
 9563,
 'abc',
 'b',
 'dog',
 'zip'}

In [ ]:
sample_set.add('ykv')
sample_set

In [ ]:
sample_set.sort()
sample_set

In [ ]:
set2 = [{1,44,2,3,55,66}]
set2.sort()
set2

# Dictionary
##### Day - 3

In [ ]:
sample_dict = {"a":"alpha" , 1:"one" , 2:"name" , 4:"varshith" , 1:"coffee" , 5:"number" , 6:"movie", 2:"YKV", 2:"Mabbu"}
type(sample_dict) # a,1,2,4,5 are called as keys.
                  # alpha, one, name...... are calles as values.

In [ ]:
sample_dict #unique key or values can be duplicated.

In [ ]:
sample_dict["a"]

In [ ]:
sample_dict[4] # we can retrive the value using key.

In [ ]:
sample_dict["name"] # will give error, means key can't be retrived using value

In [ ]:
sample_dict[5] = "vishnu"
sample_dict                   # mutable using key

In [ ]:
sample_dict[7] = "love"
sample_dict            # we can add a value using key.

In [ ]:
sample_dict.reverse() # dict can't be reversed.

In [ ]:
sample_dict.pop(6) # we can remove the value form initial data.
 
sample_dict

In [ ]:
sample_dict.pop(2)
sample_dict

In [ ]:
sample_dict.pop(7) # so while running the programe it'll consider the latest out come as the main data cell so it can't show the (2) value here.
sample_dict

## if we run the program more than one time we may get error.
### 1. dictionary has key value pair datastructure
### 2. key is unique and values can be duplicated 
### 3. it'll consider the latest assigned value for a particular key
### 4. can retrieve the value using key.
### 5. can change the value using key.
### 6. key is mutable. 
### 7. can add and remove the values using keys.

In [ ]:
sample_dict[1] # we'll get output as coffiee insted of one because always it'll consider the last value only. (like it is reassigning the value)

# Numpy: Package for multidimensional array. (libraries & packages)
#### numpy is numerical python. if we want to play with numbers in python we use machine lerning library called numpy.(numerical python)

# create an array

In [ ]:
import numpy as np # we have to import some packages at begining of the code np is the frequently used notation, we can use any notation.

In [ ]:
arr = np.array([1,2,3,4,5,6]) #np. array creating an array.
arr

In [ ]:
list_of_numbers = np.array(([1,2,3],[4,5,6],[7,8,9])) #for multidimension we have to use double brackets.
list_of_numbers

In [ ]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]]) # no rule for using square bracket or paranthesis.
a

In [ ]:
np.arange(6,16) #Defining the rangeof values 
                #increment by one and always it's exclude the last value in the range.

In [ ]:
np.arange(20,40)

In [ ]:
np.arange(5,35,6) # press shift + tab and then upper arrow mark to know what it is insted of browsing.
                  # output is 5+6 = 11, 11 + 6 = 17... like that it'll kepp on adding 6 till 35 and finally 35 won't there in the output as last element should not be in the output

In [ ]:
np.arange(3,66,6)

In [ ]:
np.zeros(6)

In [ ]:
np.zeros(8,dtype=int)

In [ ]:
np.zeros((2,5))

In [ ]:
np.zeros((2,5),dtype=int)

In [ ]:
np.ones((5,3))

In [ ]:
np.ones((5,3),dtype=int)

In [ ]:
np.linspace(0,1,5) # 0=start, 1=stop, 5=equal parts to divide

In [ ]:
np.linspace(0,20,12, dtype=int)

In [ ]:
np.eye(3) #generates the identity matrix

In [ ]:
np.eye(5,dtype=int)

In [ ]:
a=np.eye(6) # generates the identity matrix of 6*6
a

In [ ]:
np.random.rand(2,4) # numbers are generated randomly and we can get specified number of rows and columns. and numbers would be rangeing from 0 to 1
                    # standared distribution.

In [ ]:
np.random.randn(2,4) # here we can generate negative number by adding "n", and this is called normal distribution.

In [ ]:
np.random.randint(0,10,15) # 15 random integers form 0 to 9

In [ ]:
sample_array = np.arange(2,20)
sample_array

In [ ]:
sample_array.min() #shows the min value in the array

In [ ]:
sample_array.argmin() # argmin=index of min value.

In [ ]:
rand_array=np.random.randint(0,10,5) # ranges from 0 to 9, generates 5 random numbers
rand_array

In [ ]:
rand_array.argmin()

In [ ]:
rand_array.max()

In [ ]:
rand_array.argmax() # if there is 2 greater random numbers then it'll consider, only 1st greater number index.

In [ ]:
sample_array.argmax() #index of greater number of sample array.

In [ ]:
sample_array.dtype

In [ ]:
a=np.random.rand(2,3) #generates 2*3 random matrix ranges from 0 to 1. uniform distribution.
a

In [ ]:
a.T # transpose of matrix

In [ ]:
sample_array=np.arange(10,28) # in previous sample_array these values will save.
sample_array

In [ ]:
sample_array=sample_array.reshape(6,3)  # gives 6*3 matrix 
sample_array

In [ ]:
sample_array=sample_array.reshape(3,4)  
sample_array

In [ ]:
sample_array=sample_array.reshape(9,2) 
sample_array

In [ ]:
sample_array[5]=100 # we'll get 5th row values as 100 here we are not giving index number we are giving only row number.
sample_array

In [ ]:
sample_array[3]=100
sample_array

In [ ]:
sample_array=np.arange(10,100)
sample_array

In [ ]:
sample_array[1:7] #slicing
                  #we'll get values of index-1 to index-7

In [ ]:
subset_sample_array=sample_array[0:7]
subset_sample_array

In [ ]:
sample_array[1:9] = 1001
sample_array

In [ ]:
sample_array[:] = 1001
sample_array

## Two-Dimensional array

In [ ]:
sample_matrix=np.array([[24,13,2,15],[15,22,2,54],[56,75,84,69],[56,76,24,7]])
sample_matrix

In [ ]:
sample_matrix[2,3]  # here 2 is row index and 3 is column index

Till here

In [ ]:
sample_matrix[1][2] # same as above one.

In [ ]:
sample_matrix[:,2] #colon means all so it'll get all the values of column with index 2.

In [ ]:
sample_matrix[1:3,2:4]

In [ ]:
sample_matrix[1:,2:] #from row index one onwards and column index two onwards

In [ ]:
sample_matrix[2]

In [ ]:
sample_matrix[:,(3,2)]

In [ ]:
sample_matrix[:,(2,3)]

In [ ]:
sample_array=np.arange(1,31)
sample_array

In [ ]:
sample_array+sample_array

In [ ]:
np.exp(sample_array)

In [ ]:
np.sqrt(sample_array)

In [ ]:
np.log(sample_array)

In [ ]:
np.argmax(sample_array)

In [ ]:
np.argmin(sample_array)

In [ ]:
np.std(sample_array)

In [ ]:
np.mean(sample_array)

In [ ]:
np.square(sample_array)

In [ ]:
np.var(sample_array)

In [ ]:
array=np.random.randn(3,4) # normal distribution of 3*4 matrix
array

In [ ]:
np.round(array,3) # 3=number of digits we have to round it.

In [ ]:
sports=np.array(['golf','cricket','kabaddi','golf','cricket','fball']) # it'll show only unique values, it'll remove the duplicates.
np.unique(sports)                                                      # arranges in the alphabatical order.

# Pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("CarPrice_Assignment.csv") # df = data frame and if your file is excel then type read_excel.
                                            # car price...... is the file naame (excel or csv) while writing file name just write first 3 characters of files and press tab then it'll show the files names with that characters.
                                            # if u didn't get any file names after clicking tab button, then you have to go for home page of jupyter notebook and upload the file form computer. then repeat the same thing.

In [ ]:
df.head() # it is displaying the top 5 rows of the excel

In [ ]:
df.head(10) # it'll show first 10 rows of the excel sheet

In [ ]:
df.tail() #it'll display last five rows of the excel sheet.

In [ ]:
df.tail(10) #last 10 rows of excel sheet

In [ ]:
df.sample() # shows random row from excel row

In [ ]:
df.sample(5) # shows random 5 rows from excel sheet.

In [ ]:
df.shape # no of rows = observations and columns = attributions = variables.
         # for shape no need of()

In [ ]:
df.columns # we'll get all the column names.

In [ ]:
df.dtypes #we'll get data type of each and every attributes. if we get data type as object means it is catagorical.

###### only for shape, columns, dtypes we are not using () in pandas.

In [ ]:
df.info() # we'll be getting all the column name with dtype and how many values are there in my dataset. actually it has to be 205, so outoff 205 how many are there in each data set.

In [ ]:
df.isnull.sum() #we'll get the missing value number here.

In [ ]:
df.describe() #we'll get all the statistical info from this.

In [ ]:
df.describe(include="all") #here we'll get info for all the attributes. 
                           # for catagorical data we can't get mean, std, min all those parameters so we are getting as NAN(not a number)

###### in the above output,  top = mode and frequency = how many times that mode value is repeating in the sheet.

## DAY 4
###### Pandas dataframe and indexing

In [ ]:
sports1=pd.Series([1,2,3,4],index=['cricket', 'golf','chess', 'carroms']) # case sensitive, S should be capital
sports1                                                                # it'll create a one dimensional table.
# for creating uni dimensional table use series.

In [ ]:
sports1['chess'] #index of chess

In [ ]:
sports2=pd.Series([11,12,13,4],index=['cricket', 'golf', 'chess', 'kabaddi'])
sports2

In [ ]:
sports1+sports2 # we'll get carroms and kabaddi values as nan because they are not present in the both the series.
                # if we want to do mathematical operations then it has to be contain in the both the tables.

In [ ]:
df1 = pd.DataFrame(np.random.rand(8,5), index='A B C D E F G H'.split(),columns='Score1 Score2 Score3 Score4 Score5'.split())
df1  # dot split because we have to write A,B,C..... and score1..... in the separate strings but we didn't do that so we are using .split.

In [ ]:
df1['Score3'] #case sensitive

In [ ]:
df1[['Score2', 'Score5', 'Score1']] # order sensitive

In [ ]:
df1['Score6'] = df1['Score2'] + df1['Score4']
df1 #adding of the new column

In [ ]:
df1.drop('E') #deleting a row.

In [ ]:
df1.drop('Score1', axis = 1) #axis =1 indicates columns, to drop rows we need not to indicate row axis(0).

In [ ]:
df1.drop(["Score1","Score2"], axis=1)

In [ ]:
df2={'id':[101,102,103,104,176],'name':['john','ram','kumar','venkat','vishnu'], 'profit':[20,54,69,85,37]}
df=pd.DataFrame(df2)
df           # creating a table in different method.

In [ ]:
df.drop('id',axis=1)

In [ ]:
df.drop(3)

In [ ]:
df.drop('profit',axis=1)

In [ ]:
df[['name','profit']]

#### Visualization
#### Mathplotlib and Seaborn

### DAY 5

#### statistics

###### collecting, organising, analysing and presenting the data is called statistics and as a data scientist we have to extract the information as much as we can from data. data is combination of nformation and noise,( noise is the data which completly distract you from the goal) .

two types of statistics, 1) Descriptive and 2) Inferential

in inferential statistics  from the population choose some sample from the population and conducting some experiments on the sample based upon the we would be saying about the population. 

conducting data in our hand and conducting an experiment on that data and getting some results that is called descriptive statistics. example: mean,mode,median,variance etc

## Descriptive Statistics

#### measures of central tendency nothing but mean, mode and meadian.  deals with shape of the data

1) mean = sum of observations / no of observations. 

eg: what is the mean of 1,2,3,4,5? ans: 3 now,
    what is the mean of 1,2,3,4,5,500? ans: 85.83
    so, here 500 is an outlier, whenever an outlier is present in our data there is a huge change in the mean it's heavily impacted.
  
  if there is some missing values what we have to do, if that values are small we can neglect or we can replace it with mean, median or mode value in the place of missing value. if there is an outlier it's not good idea to replace with mean. or we can remove the outlier and calculate the mean and replace it.

2) median = middle most value of the data

what is the meadian of 5,3,2,1,4
            for finding meadian 1st arrange the given data in accending or descending order
            sortout data: 1,2,3,4,5 then median = 3
            
what is the median of 6,5,3,4,9,2
            sortout data: 2,3,4,5,6,9 then median = (4+5)/2 [ means avg of middle two numbers]
     if the obsevations are odd then median is (n + 1) / 2 is the median.
                      even then median is 0.5[(n/2)th term + (n/2 + 1)th term]
if there is an outlier in the data then median is effecting less so we can replace the missing values with median insted of mean. 

3) mode = highest frequency value
 eg: 5,2,3,6,5,1,4 here mode = 5, 
     5,2,3,6,5,1,4,1 here mode = 5,1
  so for the given data there is a single mean and median but, there could be mant mode values for that.   

we can find mean, median only for numarical values we can't find for categorical data

but we can find the mode for both numarical and categorical data.


finally, for missing values
         if the data is numerical than we can replace it with mean(when there is no outlier) and with median (when outlier is there)
          if the data is categorical replace with mode.
          
          
for symmetric curve or normally distributed curve or bell curve we can say that mean = median = mode and for skewed curve or not symmetric curve mean != median != mode.

###### Measures Of Dispersion:

dispersion = Spread of the data.

##### includes Range, std deviation, Variance

range = Max value - min value 
variance = how far the data is deviated from the mean. 

eg: x = 1,2,3,4,5 then variance is sum of [(Xi - Xbar)^2] / n. where i = 1 to n and Xbar = mean of the data. so here Xbar = 3.

std deviation = sqrt of variance.

sharpe curves have less variance.

### finding of outliers:

 Q1, Q2, Q3... are called as Quatiles 
 
 eg: 1,2,3,,4,5 from this find the second quatile means 
         Q2 = second quatile = median =3, means second quatile is 50%. Q1 is 25% called as 1st quatile. 
         
for Q1 = consider FIRST 25% of data from the given so from 1,2,3 median will be the value of Q1.
for Q3 = Consider LAST 25% of data from the given data so from 3,4,5 median will be the value of Q3

** inter quatile range = IQR = Q3-Q1 = 4-2 = 2
       any value  less than (Q1-1.5IQR) and greater than (Q3+1.5IQR)
       so for the above example any value less than -1 and greater than 7 are called outliers.

### Covariance and Corelation

###### covariance = summation of [(X-Xbar)(Y-Ybar)] / n 

if the covariance is +ve then we can say that both are moving in the same direction. if it is -ve value then it is said to be moving in the opposite direction. from this we'll get just direction of the values.

corelation = [covariance(x,y)] / [(std of x)(std of y)] 
corelation values are ranges from -1 to 1

if corelation is +1 then both are highly corelated and it's positive corelation
if corelation is -1 then both are strongly corelated but it's negative corelation. if one increases and other is decrease.

** if corelation = 0.5 then it is moderatly corelated and it's postive corelation. 

example is there below. 

among the dependent and independent variables corelation should be as high as possible and among the independent variable corelation should be as low as possible.

In [ ]:
arr = np.array([1,2,3,4,5])
arr

In [ ]:
mean_of_arr = np.mean(arr)
mean_of_arr

In [ ]:
median_of_arr = np.median(arr)
median_of_arr

In [ ]:
std_of_arr = np.std(arr)
std_of_arr

In [ ]:
range_of_arr = np.max(arr) - np.min(arr)
range_of_arr

In [ ]:
covari = arr - np.mean(arr)
covari

In [ ]:
arr2 = np.array([2,4,6,8,10])
arr2

In [ ]:
mean_arr2 = np.mean(arr2)
mean_arr2

In [ ]:
std_arr2 = np.std(arr2)
std_arr2

In [ ]:
covari2 = arr2 - np.mean(arr2)
covari2

In [ ]:
covariance = covari * covari2
dtype = int
covariance

In [ ]:
final_covariance = [8/5 + 2/5 + 0/5 + 2/5 + 8/5] # +ve value so moving in same directions.
final_covariance

In [ ]:
corel_denominator = std_of_arr * std_arr2
corel_denominator

In [ ]:
corelation = final_covariance / corel_denominator
corelation

 ##### Example

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("CardioGoodFitness-1.csv")

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.describe() # getting all statistics of the data, only for numarical columns.

In [ ]:
df.describe(include="all")

In [ ]:
df.info()

In [ ]:
df.isnull().sum() # output = 0 menas no zeros

In [ ]:
df.dtypes

In [ ]:
df.hist() # for numerical data only

In [ ]:
df.hist(figsize=(10,20)) # fixing the box size of the plot.

In [ ]:
sns.boxplot(x="Product",y="Age", data=df) # it should ne numerical and case sensitive
                                          # boxplot is called as five number summary because it tells about min value, max value, 1st quatile, 2nd quatle and 3rd quatile.

#### TM 195 is most prefered and TM 798 is prefered by teenageers

In [ ]:
pd.crosstab(df['Product'], df['Gender']) # compareing 2 catagorical data, here tab = table so tables are related to pandas.

In [ ]:
sns.countplot(x='Product', hue = "Gender", data = df ) #visualisation of 2 catagorical data.
# This parameter take column name for colour encoding.

In [ ]:
pd.pivot_table(df, index = ['Product', 'Gender'],      # all the coloumns are getting split according to marital status
              columns = ['MaritalStatus'], aggfunc=len) # aggfunc = aggrigate function

In [ ]:
pd.pivot_table(df, 'Income', index = ['Product', 'Gender'],
               columns = ['MaritalStatus']) # if we didn't mention aggfunc then it'll give only mean vaues, wrt income

In [ ]:
sns.pairplot(df, diag_kind = 'kde') # we have 6 numarical columns so we'll get 6*6=36 plots. thats y it called as pair plot
                                    # if we mention kde it gives curved plots in the diagonal.

In [ ]:
sns.pairplot(df) # if we didn't mention kde then it'll generates all bar graphs in the diagonal.

In [ ]:
df.hist(by='Gender', column='Age') for histogram in the y axis always it should be the frequency.

In [ ]:
corr = df.corr() # for getting corelation
corr

In [ ]:
df['Age'].std()

In [ ]:
df['Age'].mean()

In [ ]:
df['Age'].var()

In [ ]:
df.hist(by='Gender', column='Income')

In [ ]:
df.hist(by='Gender', column='Miles')

In [ ]:
df.hist(by='Product', column='Miles')

In [ ]:
sns.heatmap(corr,annot = True)

### Inferential Statistics

deals with sampling the data and we have to inference the data.

for notes refer to the LMS of Henry Harvin.

and next is Hypothesis & Tests.
null hypothesis = always there should be euql to sign 
alternate hypothesis doesn't contain any equality sign.

https://www.analyticsvidhya.com/blog/2020/06/statistics-analytics-hypothesis-testing-z-test-t-test/

### z  tests are a statistical way of testing a hypothesis when either:

   1. We know the population variance, or
   2. We do not know the population variance but our sample size is large n          30

* If we have a sample size of less than 30 and do not know the population variance, then we must use a t-test.

### Z-Score =  ( Xbar -  mu) / ( sigma / sqrt of n)
     Xbar = mean of the sample consider
     mu = mean of the total population
     sigma = std deviation of population
     sqrt of n = sample size.
* we have to decide about the significant level(alpha) or confidence level. 
  eg: confidence level = 95% then significance level = 5%.
  
after getting Z score then find out the value of P value (probability value) for that Z value from the external sources. 

if that p-value is less than the alpha or significant value then we have to reject the null hypothesis.

* and find the critical value for the given significant value which are standared values, if the Z score is higher that the critical value then it is said to be rejected region so we have to reject the null hypothesis.

##### Z score for  two samples

     * Z score = [ (X1bar - X2bar) - (mu1 - mu2) ] / [sqrt of ((sigma1 ^ 2 / n1) + (sigma2 ^ 2 / n2))

#### T score  = ( Xbar - mu ) / ( s / sqrt of n ) 
      s = sample standard deviation. that's the difference between Z score and T score.
      
* P-value is greater than alpha thus we fail to reject the null hypothesis so we have to accept the null hypothesis.

##### Two-Sample t-Test = [ (X1bar - X2bar) - (mu1 - mu2) ] / [sqrt of ((S1 ^ 2 / n1) + ( S2 ^ 2 / n2))